.responseDiv {
    height: fit-content;
    max-height: 400px;
    border: 1px solid;
    overflow-y: scroll;
}

.apiContainer {
    width: 100%;
    height: fit-content;

    text-align: left;
}

.reqButton {
    width: fit-content;
    height: fit-content;

    margin: 0 auto;
}

.collapseButton {
    background-color: transparent;
    border-color: transparent;
    margin-top: 20px;
}

.collapseArrow {
    font-size: 25px;
    transition: all 0.2s ease-in-out;
}

.collapseArrow:hover {
    transform: translateY(-3px);
}

.trashCan {
    font-size: 22px;
    color: rgb(248, 19, 19);
}

.trashCan:hover {
    color: rgb(167, 8, 8);
    cursor: pointer;
}

.trashButton {
    float: right;
    margin-top: 20px;
    background-color: transparent;
    border-color: transparent;
}