.button {
    background-color: rgb(25, 115, 250);
    color: white;
    
    padding: 10px;
    border-radius: 20px;
    border-color: transparent;
    margin: 10px;

    font-size: 16px;
    font-weight: bold;
}

.button:hover {
    cursor: pointer;
    background-color: lightblue;
    color: black;
}

.darkButton {
    background-color: transparent;
    width: fit-content;
    height: fit-content;

    border-color: transparent;
}

.darkIcon {
    transition: all 0.35s ease-in-out;
    font-size: 60px;
}