.button {
    background-color: #b0a18e;
    color: rgb(0, 0, 0);
    
    padding: 10px;
    border-radius: 20px;
    border-color: transparent;
    margin: 10px;

    font-size: 16px;
    font-weight: bold;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(218, 209, 193);
    color: rgb(255, 255, 255);
}

.darkButton {
    background-color: transparent;
    width: fit-content;
    height: fit-content;

    border-color: transparent;
    display: inline-block;
}

.darkButton:hover {
    cursor: pointer;
}

.darkIcon {
    transition: all 0.35s ease-in-out;
    font-size: 54px;
}