.navContainer {
    float: right;
    margin-top: 60px;

    width: fit-content;
    height: fit-content;
}

.mobileNavContainer {
    float: right;
    margin-top: 18px;
    margin-right: 10px;

    width: fit-content;
    height: fit-content;
}

.link {
    margin: 20px;

    text-decoration: none;
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.link:hover {
    text-decoration: underline;
}

.hamburger {
    font-size: 60px;
    transition: all 0.2s ease-in-out;
}

.hamButton {
    border-color: transparent;
    background-color: transparent;
    width: fit-content;
    height: fit-content;
}