.pageContainer {
  background-color: rgb(83, 85, 89);
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow-y: scroll;
}

.widthControlContainer {
  width: 80%;
  height: fit-content;

  margin: 0 auto;
  max-width: 1000px;
}

input, select {
  background-color: rgb(223, 204, 180);
}

.colorTesting {
  color: rgb(206, 50, 50);
}

@media (max-width: 680px) {
  .widthControlContainer {
    width: 100%;
  }
}